#!/usr/bin/env ruby
puts ARGV[0].scan(/127.0.0.[0-9]/).join
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #fff;
	background-color: #ef8fd6;
}

header, footer {
	background: #349;
	color: bluesky;
	text-align: center;
	padding: 1rem 0;
}

